Repository danieleschmidt/agent-mesh-federated-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-security-scan, license-header, docs-check

custom-security-scan:
  name: custom-security-scan
  entry: scripts/security-scan.sh
  language: script
  stages:
  - push

license-header:
  name: license-header
  entry: scripts/check-license-header.py
  language: python

docs-check:
  name: docs-check
  entry: scripts/check-docs.py
  language: python
  pass_filenames: false
  stages:
  - push

chore(ci): add comprehensive GitHub workflows and security policies
  .github/SECURITY.md
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
  configs/monitoring/alerts/agent-mesh-alerts.yml
  configs/monitoring/prometheus.yml
Due: custom-security-scan

feat: implement comprehensive SDLC automation infrastructure
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  WORKFLOWS.md
  configs/monitoring/grafana/dashboards/agent-mesh-overview.json
Due: custom-security-scan

docs: establish project foundation and community files
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PROJECT_CHARTER.md
  SECURITY.md
Due: none

feat: setup development environment and code quality tools
  docs/guides/README.md
  package.json
Due: custom-security-scan

test: establish comprehensive testing infrastructure
  tests/fixtures/README.md
  tests/fixtures/factories/node_factory.py
  tests/security/README.md
Due: custom-security-scan, docs-check

build: add containerization and build automation
  .dockerignore
  docs/deployment/README.md
Due: none

docs(monitoring): add comprehensive monitoring and observability documentation
  docs/monitoring/README.md
Due: none

docs: establish project foundation and community files
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PROJECT_CHARTER.md
  SECURITY.md
  docs/adr/000-adr-template.md
  docs/guides/user/getting-started.md
Due: none

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  setup.cfg
Due: custom-security-scan

test: establish comprehensive testing infrastructure
  pytest.ini
  tests/fixtures/__init__.py
  tests/fixtures/data_fixtures.py
  tests/utils/test_helpers.py
Due: custom-security-scan, docs-check

docs: add CI/CD and security workflow documentation and templates
  docs/workflows/README.md
  docs/workflows/examples/ci.yml
  docs/workflows/examples/security-scan.yml
Due: custom-security-scan

docs: add development setup guide and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/DEVELOPMENT.md
Due: none

feat: add GitHub templates and workflow enhancements
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: none

docs: add workflow requirements and setup documentation
  .github/ISSUE_TEMPLATE/security_report.md
  docs/SETUP_REQUIRED.md
  docs/workflows/MANUAL_SETUP.md
Due: none

docs: add community and development documentation
  docs/DEVELOPMENT.md
Due: none

docs: add workflow requirements and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/SETUP_REQUIRED.md
Due: none

feat: implement comprehensive SDLC enhancements for maturing repository
  .github/dependabot.yml
  CODEOWNERS
  docs/DEPLOYMENT.md
  docs/MONITORING.md
  docs/workflows/GITHUB_ACTIONS_SETUP.md
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/namespace.yaml
  monitoring/prometheus.yml
  monitoring/rules/agent_mesh.yml
  requirements-dev.txt
  requirements.txt
  scripts/benchmark.py
  scripts/setup.py
  src/agent_mesh/__init__.py
  src/agent_mesh/py.typed
Due: custom-security-scan, license-header, docs-check

feat: advanced SDLC optimization with enterprise-grade quality tools
  .sonarcloud.properties
  codecov.yml
  package.json
  renovate.json
Due: custom-security-scan

feat: enhance SDLC with advanced security, performance monitoring, and development tools
  docs/workflows/examples/advanced-security.yml
  scripts/check_model_sizes.py
  scripts/check_performance_regression.py
Due: custom-security-scan, license-header, docs-check

feat: advanced SDLC enhancements for enterprise-grade repository optimization
  .codeclimate.yml
  .deepsource.toml
  .secrets.baseline
  COMPLIANCE.md
  SBOM.md
  chaos-testing.yml
  performance-regression.yml
  scripts/check-docs.py
  scripts/check-license-header.py
  scripts/security-scan.sh
  sonar-project.properties
  tox.ini
Due: custom-security-scan, license-header, docs-check

feat: advanced SDLC excellence enhancements for enterprise-grade optimization
  docs/CICD_OPTIMIZATION.md
  infrastructure/terraform/main.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/variables.tf
  scripts/dependency-updater.py
  scripts/environment-manager.py
  scripts/health-check.py
  scripts/performance-optimizer.py
Due: custom-security-scan, license-header, docs-check

feat: Implement Terragon Autonomous SDLC Value Discovery System
  .terragon/config.yaml
  .terragon/pr_template.md
  .terragon/scoring-engine.py
  .terragon/value-metrics.json
  .terragon/value-tracker.py
  BACKLOG.md
Due: custom-security-scan, license-header, docs-check

docs: update roadmap with current SDLC implementation status
  docs/ROADMAP.md
Due: none

feat: enhance testing infrastructure with advanced mock helpers and load testing
  tests/README.md
  tests/coverage.ini
  tests/performance/test_load_scenarios.py
  tests/utils/mock_helpers.py
Due: custom-security-scan, docs-check

feat: enhance containerization with production configs and build optimization
  .dockerignore
  docker-compose.override.yml
  docker-compose.prod.yml
  scripts/build-optimizer.py
Due: custom-security-scan, license-header, docs-check

feat: enhance monitoring and observability with comprehensive alerting and logging
  monitoring/alertmanager.yml
  monitoring/elasticsearch-template.json
  monitoring/grafana-dashboards.json
  monitoring/jaeger-config.yml
  monitoring/logging/fluentd.conf
Due: custom-security-scan

feat: enhance workflow documentation with comprehensive CI/CD templates
  docs/workflows/WORKFLOW_SETUP_GUIDE.md
  docs/workflows/examples/cd.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/release.yml
Due: custom-security-scan

feat: implement comprehensive metrics collection and repository automation
  .github/project-metrics.json
  scripts/metrics-collector.py
  scripts/repository-automation.py
Due: custom-security-scan, license-header, docs-check

feat: complete Terragon SDLC integration and final configuration
  .pre-commit-config.yaml
  .terragon/sdlc-config.yaml
  README.md
  docs/INTEGRATION_GUIDE.md
  scripts/integration-health-check.py
  scripts/performance-regression.py
  scripts/validate-docker-build.sh
  scripts/validate-helm-charts.sh
  scripts/validate-sdlc-config.py
Due: custom-security-scan, license-header, docs-check

feat: complete Terragon Checkpointed SDLC implementation and validation
  .dockerignore
  docs/SETUP_REQUIRED.md
  scripts/validate-checkpoint-implementation.py
Due: custom-security-scan, license-header, docs-check

feat: complete Terragon SDLC integration and final configuration
  TERRAGON_IMPLEMENTATION_SUMMARY.md
  package.json
Due: custom-security-scan

feat: implement core Agent Mesh functionality with complete P2P infrastructure
  ARCHITECTURE.md
  src/agent_mesh/cli.py
  src/agent_mesh/coordination/__init__.py
  src/agent_mesh/coordination/agent_mesh.py
  src/agent_mesh/coordination/task_scheduler.py
  src/agent_mesh/core/__init__.py
  src/agent_mesh/core/consensus.py
  src/agent_mesh/core/mesh_node.py
  src/agent_mesh/core/network.py
  src/agent_mesh/core/security.py
  src/agent_mesh/federated/__init__.py
  src/agent_mesh/federated/aggregator.py
  src/agent_mesh/federated/algorithms.py
  src/agent_mesh/federated/learner.py
Due: custom-security-scan, license-header, docs-check

feat(database): add comprehensive database layer with models, repositories, and migrations
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  .env.example
  .pre-commit-config.yaml
  .vscode/settings.json
  migrations/001_initial_schema.py
  migrations/__init__.py
  migrations/migration_runner.py
  src/agent_mesh/database/__init__.py
  src/agent_mesh/database/connection.py
  src/agent_mesh/database/models.py
  src/agent_mesh/database/repositories.py
Due: custom-security-scan, license-header, docs-check

Implement SDLC Infrastructure Core with Core Modules and Dev Environment (#17)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  .env.example
  .pre-commit-config.yaml
  .vscode/settings.json
  ARCHITECTURE.md
  migrations/001_initial_schema.py
  migrations/__init__.py
  migrations/migration_runner.py
  src/agent_mesh/cli.py
  src/agent_mesh/coordination/__init__.py
  src/agent_mesh/coordination/agent_mesh.py
  src/agent_mesh/coordination/task_scheduler.py
  src/agent_mesh/core/__init__.py
  src/agent_mesh/core/consensus.py
  src/agent_mesh/core/mesh_node.py
  src/agent_mesh/core/network.py
  src/agent_mesh/core/security.py
  src/agent_mesh/database/__init__.py
  src/agent_mesh/database/connection.py
  src/agent_mesh/database/models.py
  src/agent_mesh/database/repositories.py
  src/agent_mesh/federated/__init__.py
  src/agent_mesh/federated/aggregator.py
  src/agent_mesh/federated/algorithms.py
  src/agent_mesh/federated/learner.py
Due: custom-security-scan, license-header, docs-check

feat(deployment): add global production deployment strategy and pipeline
  .github/workflows/production-deploy.yml
  config/environments/production.yaml
  config/environments/staging.yaml
  infrastructure/global-deployment-strategy.md
  k8s/hpa.yaml
  k8s/security-policies.yaml
  pytest.ini.bak
  simple_test.py
  src/agent_mesh/core/access_control.py
  src/agent_mesh/core/error_handling.py
  src/agent_mesh/core/monitoring.py
  src/agent_mesh/core/network.py
  src/agent_mesh/core/performance.py
  src/agent_mesh/core/scaling.py
  src/agent_mesh/core/validation.py
  tests/test_comprehensive.py
Due: custom-security-scan, license-header, docs-check

fix(deployment): remove GitHub workflow file due to permission constraints
  .github/workflows/production-deploy.yml
Due: custom-security-scan

Add comprehensive production and staging configs, global deployment, and core systems (#18)
  config/environments/production.yaml
  config/environments/staging.yaml
  infrastructure/global-deployment-strategy.md
  k8s/hpa.yaml
  k8s/security-policies.yaml
  pytest.ini.bak
  simple_test.py
  src/agent_mesh/core/access_control.py
  src/agent_mesh/core/error_handling.py
  src/agent_mesh/core/monitoring.py
  src/agent_mesh/core/network.py
  src/agent_mesh/core/performance.py
  src/agent_mesh/core/scaling.py
  src/agent_mesh/core/validation.py
  tests/test_comprehensive.py
Due: custom-security-scan, license-header, docs-check

feat(ci): add comprehensive CI and security scanning workflows
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  configs/global-deployment.yaml
  deploy.sh
  pyproject.toml
  src/agent_mesh/core/network.py
  src/agent_mesh/database/repositories.py
  src/agent_mesh/federated/learner.py
  test-results.xml
  tests/conftest.py
  tests/unit/test_example.py
Due: custom-security-scan, license-header, docs-check

fix: remove GitHub workflows due to permission constraints
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Due: custom-security-scan

Path conditions:
  custom-security-scan: any of: \.(py|yaml|yml|json)$
  license-header: any of: \.py$, but not: ^(tests/|proto/.*_pb2\.py|proto/.*_pb2_grpc\.py)
  docs-check: any of: \.py$
